In [3]:
import pandas as pd
import requests

In [4]:
url = 'https://archive-api.open-meteo.com/v1/era5?latitude=38.26&longitude=-85.70&start_date=2022-01-01&end_date=2022-07-13&daily=temperature_2m_max,sunrise,sunset,precipitation_sum&timezone=America%2FNew_York&temperature_unit=fahrenheit&windspeed_unit=mph&precipitation_unit=inch'

In [5]:
r = requests.get(url)

In [6]:
r

In [7]:
json = r.json()

In [8]:
json.keys()

dict_keys(['latitude', 'longitude', 'generationtime_ms', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'elevation', 'daily_units', 'daily'])

In [9]:
type(json['daily'])

dict

In [10]:
df = pd.DataFrame(json['daily'])

In [14]:
df

,time,temperature_2m_max,sunrise,sunset,precipitation_sum
0,2022-01-01,65.2,2022-01-01T08:58,2022-01-01T18:34,2.17
1,2022-01-02,53.5,2022-01-02T08:58,2022-01-02T18:35,0.06
2,2022-01-03,33.8,2022-01-03T08:58,2022-01-03T18:36,0.00
3,2022-01-04,43.8,2022-01-04T08:58,2022-01-04T18:37,0.00
4,2022-01-05,46.4,2022-01-05T08:58,2022-01-05T18:38,0.00
...,...,...,...,...,...
189,2022-07-09,77.6,2022-07-09T06:26,2022-07-09T21:09,0.67
190,2022-07-10,88.7,2022-07-10T06:26,2022-07-10T21:09,0.00
191,2022-07-11,90.6,2022-07-11T06:27,2022-07-11T21:09,0.00
192,2022-07-12,90.0,2022-07-12T06:28,2022-07-12T21:08,0.00
193,2022-07-13,88.6,2022-07-13T06:28,2022-07-13T21:08,0.00

In [19]:
df['time'] = pd.to_datetime(df['time'])

In [20]:
df['sunrise'] = pd.to_datetime(df['sunrise'])

In [21]:
df['sunset'] = pd.to_datetime(df['sunset'])

In [22]:
df.head()

,time,temperature_2m_max,sunrise,sunset,precipitation_sum
0,2022-01-01,65.2,2022-01-01 08:58:00,2022-01-01 18:34:00,2.17
1,2022-01-02,53.5,2022-01-02 08:58:00,2022-01-02 18:35:00,0.06
2,2022-01-03,33.8,2022-01-03 08:58:00,2022-01-03 18:36:00,0.00
3,2022-01-04,43.8,2022-01-04 08:58:00,2022-01-04 18:37:00,0.00
4,2022-01-05,46.4,2022-01-05 08:58:00,2022-01-05 18:38:00,0.00

In [24]:
df['time'].dt.day_name()

0       Saturday
1         Sunday
2         Monday
3        Tuesday
4      Wednesday
         ...
189     Saturday
190       Sunday
191       Monday
192      Tuesday
193    Wednesday
Name: time, Length: 194, dtype: object

In [43]:
df.loc[:, 'temperature_2m_max'].min()

20.3

In [37]:
df_columns = df[['temperature_2m_max', 'sunrise']]
df_columns

     temperature_2m_max             sunrise
0                  65.2 2022-01-01 08:58:00
1                  53.5 2022-01-02 08:58:00
2                  33.8 2022-01-03 08:58:00
3                  43.8 2022-01-04 08:58:00
4                  46.4 2022-01-05 08:58:00
..                  ...                 ...
189                77.6 2022-07-09 06:26:00
190                88.7 2022-07-10 06:26:00
191                90.6 2022-07-11 06:27:00
192                90.0 2022-07-12 06:28:00
193                88.6 2022-07-13 06:28:00

[194 rows x 2 columns]

In [41]:
df.iloc[:4]

,time,temperature_2m_max,sunrise,sunset,precipitation_sum
0,2022-01-01,65.2,2022-01-01 08:58:00,2022-01-01 18:34:00,2.17
1,2022-01-02,53.5,2022-01-02 08:58:00,2022-01-02 18:35:00,0.06
2,2022-01-03,33.8,2022-01-03 08:58:00,2022-01-03 18:36:00,0.00
3,2022-01-04,43.8,2022-01-04 08:58:00,2022-01-04 18:37:00,0.00